---
import "../styles/global.css";

interface Props {
	title: String;
}

const { title } = Astro.props;

---


<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>
</head>
<body class="bg-slate-800 text-slate-100 m-auto max-w-3xl" >
	<main class="mt-10" >
		<slot/>
	</main>
</body>
</html>